body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	}

#logo {
	font-size: 2em;
	font-weight: bold;
	}

#container {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	margin-top: 50px;
	min-height: 500px;
	}
	
img {
	max-width: 100%;
	height: auto;
	}

nav {
	background-color: #333;
	color: #fff;
	padding: 10px;
	margin-top: 20px;
	}

nav a {
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	font-size: 1.2em;
	}
table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

td {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 5em;
	cursor: pointer;
}

td.zajete {
	cursor: default;
}

td.x {
	color: blue;
}

td.o {
	color: red;
}

.wiadomosc {
	font-size: 2em;
	margin-top: 20px;
}
